


<section id="main-element">

<p>No posts</p>
<p><a href="#">Post</a></p>

<section id="picture">
<%= image_tag 'test_photo.jpg', width: '510px', height: '510px' %>
</section>

<section id="picture-comments">
user: their comment
</section>

<section id="submit-comments">
<textarea id="comment-box" placeholder="Write a comment..."></textarea>
</section>

</section>
