@font-face {
  font-family: 'proxima-nova';
  src: url('ProximaNova-Reg.ttf') format('truetype')
}

@font-face {
  font-family: 'proxima-nova-bold';
  src: url('ProximaNova-Sbold.ttf') format('truetype')
}

@font-face {
  font-family: 'proxima-nova-bolder';
  src: url('ProximaNova-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'logo-font';
  src: url('Billabong.ttf') format('truetype')
}

body {
 background: #edeeef url("backgroundnoise.png");
 -webkit-font-smoothing: antialiased;
 font-family: 'proxima-nova-bold','Helvetica Neue',Arial,Helvetica,sans-serif;
 font-size: 0.9em;
 margin: 0;
 margin-top: 44px;
}

.nav_element_group {
  margin-top: 0;
  padding: 0;
  top: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

nav{
  position: fixed;
  margin-top: -44px;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #1c5380;
  border-bottom-color: rgba(4,40,71,.8);
  -webkit-box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
  background-color: #517fa4;
  background-image: url("navbarnoise.png"),-webkit-linear-gradient(top,#517fa4,#306088);
  text-align: center;
}

.header-box{
  background-color: rgba(6,54,95,.35);
  background-image: url("navbarnoise.png");
  height: 44px;
  width: 44px; 
  float: left;
  box-shadow: -1px 0 0 #5786aa;
  border-right: 1px solid #06365f;
  border-right-color: rgba(0,0,0,.1);
  border-left: 1px solid #06365f;
  border-left-color: rgba(0,0,0,.1);
  background-image:url('sprite.png');
  background-position: 5px -194px;
  cursor: pointer;
}

.logo-box{
  height: 44px;
  float: left;
  padding-left: 11px; 
  padding-right: 11px; 
  min-width: 250px; 
  text-align: center;
  border-left: 1px solid #5786aa;
  border-left-color: rgba(255,255,255,.1);
  border-right: 1px solid #5786aa;
  border-right-color: rgba(255,255,255,.1);
}

.username-box{
  height: 32px;
  float: left; 
  padding-top: 12px; 
  padding-left: 11px;
  padding-right: 11px; 
  border-right: 1px solid #06365f;
  border-right-color: rgba(0,0,0,.1);
  border-left: 1px solid #06365f;
  border-left-color: rgba(0,0,0,.1);
  box-shadow: 1px 0 1px -1px  #5786aa;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(3,27,47,.5);
  color: white;
  line-height: 20px; 
  opacity: 0.95;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.username-box:hover{
  background-color: #5983A4;
  background-image: url("navbarnoise.png");
}

#username-text{
  vertical-align: top; 
}

.avatar-image {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  margin-right: 8px; 
  margin-top: -2px; 
  text-shadow: 0 1px 0 rgba(3,27,47,.5);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.2);
}

.logo-image {
  margin-top: 10px;
  -webkit-filter: grayscale(100%) brightness(10) drop-shadow(1px 1px 1px rgba(4,40,71,.8));
  color: white;
  width: 90px;
  opacity: 0.95;
}

section#post-details {
  margin-top: 25px; 
  width: 200px;
  height: 40px ;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  line-height: 15px;
  font-family: 'proxima-nova-bolder';
  letter-spacing: 0px;
  font-size: 1.05em;
  text-align: right; 
  display: inline; 
  float: left;
}

#time-since-post {
  color: #777;
}

#username-post {
  color: #3f729b;
}

.avatar-post {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 2px;
  float: right;
  margin-left: 13px; 
  margin-top: 9px; 
}

.photo {
  border-radius: 3px 3px 0px 0px;
  width: 510px;
  height: 510px;
}

#comment-box {
  width: 463px;
  height: 25px;
  margin: 0px;
  margin-bottom: -2px; 
  padding: 10px 9px 0px;
  border: 1px solid #ccc;
  border-color: #d8d8d8;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  font-size: 1em;
  resize: none;
}

.comment-username {
  color: #3f729b;
}

.comment-text {
  font-family: 'proxima-nova';
  opacity: 0.95;
}

.comment-text a {
  font-family: 'proxima-nova';
  opacity: 0.95;
  text-decoration: none; 
  color: black;
}

ul#comments {
  list-style: none;
  margin: 0px; 
  padding: 0px; 
}

section#post-group {
  width: 1036px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  clear: both;
}

section#blank-filler {
  width: 200px;
  display: block; 
  float: left;
}

section#whole-post {
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 1px 16px rgba(0,0,0,.1);
}

section#main-element {
  margin-left: 30px;
  margin-right: 30px; 
  background: #e0e1e2 url("backgroundnoise.png");
  width: 510px;
  padding: 32px 32px 16px 32px;
  box-shadow: inset 1px 0 0 rgba(0,0,0,.05),inset -1px 0 0 rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  border-width: 0 1px;
  float: left;
  display: inline;
  margin-bottom: -9px; 
}

section#picture {
  background: #E0E1E9 url("backgroundnoise.png");
  width: 510px;
  height: 510px;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border-bottom: 1px solid #e6e6e6;
  border-radius: 3px; 
}

section#picture-comments {
  background: white;
  width: 484px;
  padding: 12px 12px 1px 14px;
  margin-bottom: 0px; 
  line-height: 20px; 
  box-shadow: 1px 1px 1px rgba(0,0,0,.04);
}

section#no-post {
  background: white;
  width: 484px;
  padding: 12px 12px 1px 14px;
  margin-bottom: 0px; 
  line-height: 20px; 
  box-shadow: 0px 1px 1px rgba(0,0,0,.04);
  border-radius: 2px; 
  border-right: 1px solid silver;
}

section#submit-comments {
  margin-top: 0px; 
  background: white;
  width: 484px;
  padding: 13px;
  border-radius: 0px 0px 5px 3px; 
}

a {
  color: #3f729b;
  font-family: 'proxima-nova-bold','Helvetica Neue',Arial,Helvetica,sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,.8)
  font-weight: 700;
}

a:hover{
  color: #3f729b;
}

a:visited{
  color: #3f729b;
}