@font-face {
  font-family: 'proxima-nova';
  src: url('ProximaNova-Reg.ttf') format('truetype')
}

@font-face {
  font-family: 'proxima-nova-bold';
  src: url('ProximaNova-Sbold.ttf') format('truetype')
}

@font-face {
  font-family: 'proxima-nova-bolder';
  src: url('ProximaNova-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'logo-font';
  src: url('Billabong.ttf') format('truetype')
}

body {
 background: #edeeef url("backgroundnoise.png");
 -webkit-font-smoothing: antialiased;
 font-family: 'proxima-nova-bold','Helvetica Neue',Arial,Helvetica,sans-serif;
 font-size: 0.9em;
 margin: 0;
 margin-top: 44px;
 height: 100%;
}

#front-page-animation path, line, polyline {
  stroke: #16a085;
  stroke-width: 3px;
}

#front-page-animation path {
  fill: transparent;
}

#front-page-animation:hover path, line, polyline {
  stroke: #2c3e50;
  stroke-width: 4px;
}

#password-page-animation path, line, polyline {
  stroke: #2c3e50;
  stroke-width: 3px;
}

#password-page-animation path {
    fill: transparent;
  }

#password-page-animation:hover path, line, polyline {
    stroke: white;
  }

#new-user-page-animation path, line, polyline {
  stroke: #16a085;
  stroke-width: 3px;
}

#new-user-page-animation path {
    fill: transparent;
  }

#new-user-page-animation:hover path, line, polyline {
    stroke: white;
  }

#front-sign-in-form input {
  border: 1px solid #F8F9FA;
  padding: 12px 15px 12px 15px;
  margin-bottom: 15px; 
  background-color: transparent;
  font-size: 1em; 
  border-radius: 4px; 
  text-align: right;
  color: #16a085;
}

#front-sign-in-form input:focus {
  outline: none;
  border-color: white;
  opacity: 1;
  color: #2c3e50; 
}

#front-sign-in-form ::-webkit-input-placeholder {
  color: #16a085;
  text-align: right;
}

#new-user-page {
  margin-left: 18%;
  margin-right: 19%;
  margin-top: 80px;
}

#new-user-form input {
  border-color: transparent;
  padding-bottom: 15px;
  margin-bottom: 15px; 
  padding-top: 2px; 
  background-color: transparent;
  font-size: 1em; 
  border-radius: 4px; 
  text-align: left;
  color: #16a085;
  border-bottom: 1px solid #2c3e50;
}

#new-user-form input:focus {
  outline: none;
  opacity: 1;
  color: white; 
  border-bottom: 1px solid white;
}

#new-user-form ::-webkit-input-placeholder {
  color: #16a085;
  text-align: left;
}

#left-new-user-page {
  display: inline;
  float: left;
  margin-right: 60px;
  text-align: right;
}

#right-new-user-page {
  margin-top: 50px; 
  display: inline;
  float: left;
}

#password-form input {
  border: 1px solid #F8F9FA;
  padding: 12px 15px 12px 15px;
  margin-bottom: 15px; 
  background-color: transparent;
  font-size: 1em; 
  border-radius: 4px; 
  text-align: right;
  color: white;
}

#password-form input:focus {
  outline: none;
  border-color:  #2c3e50;
  opacity: 1;
  color: white; 
}

#password-form ::-webkit-input-placeholder {
  color: white;
  text-align: right;
}

.devise-links a {
  font-size: 0.9em;
  text-decoration: none;
  opacity: 0.15;
}

.devise-links a:hover {
  opacity: 1; 
}

#password-page {
  margin-left: 18%;
  margin-right: 19%;
  margin-top: 80px;
}

#left-password-page {
  display: inline;
  float: left;
  margin-right: 90px;
  text-align: right;
}

#right-password-page {
  margin-top: 100px; 
  display: inline;
  float: left;
}

#front-sign-in-page {
  margin-left: 23%;
  margin-right: 21%;
  margin-top: 80px;
}

#left-sign-in-page {
  padding-top: 100px; 
  display: inline;
  float: left;
  margin-right: 90px;
  text-align: right;
}

#right-sign-in-page {
  display: inline;
  float: left;
}

#help-links {
  display: block;
  clear: both;
  text-align: center;
}

nav{
  position: fixed;
  margin-top: -44px;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #1c5380;
  border-bottom-color: rgba(4,40,71,.8);
  -webkit-box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
  background-color: #517fa4;
  background-image: url("navbarnoise.png"),-webkit-linear-gradient(top,#517fa4,#306088);
  text-align: center;
}

.nav_element_group {
  margin-top: 0;
  top: 0;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  width: 100%; 
}

.header-box{
  background-color: rgba(6,54,95,.35);
  background-image: url("navbarnoise.png");
  height: 44px;
  width: 44px; 
  float: left;
  box-shadow: -1px 0 0 #5786aa;
  border-right: 1px solid #06365f;
  border-right-color: rgba(0,0,0,.1);
  border-left: 1px solid #06365f;
  border-left-color: rgba(0,0,0,.1);
  background-image:url('sprite.png');
  background-position: 5px -194px;
  cursor: pointer;
  display: inline;
}

.post-box{
  height: 44px;
  width: 44px; 
  float: left;
  box-shadow: -1px 0 0 #5786aa;
  cursor: pointer;
  display: inline;
}

.post-image {
  width: 26px;
  height: 26px;
  padding-top: 10px; 
  padding-left: 6px; 
  -webkit-filter: invert(100%);
  opacity: 0.85;
}

.post-image:hover {
  opacity: 1;
}

.sign-out-box{
  height: 44px;
  width: 40px; 
  float: left;
  cursor: pointer;
  display: inline;
}

.sign-out-image {
  width: 17px;
  height: 17px;
  padding-top: 13px; 
  padding-left: 0px; 
  -webkit-filter: invert(100%);
  opacity: 0.85;
}

.sign-out-image:hover {
  opacity: 1;
}

.logo-box{
  height: 44px;
  text-align: center;
  border-right: 1px solid #5786aa;
  border-right-color: rgba(255,255,255,.1);
  display: inline;
  float: left;
  width: 56%;
}

.username-box{
  width: 110px;
  height: 32px;
  float: left;
  display: block;
  padding-top: 12px; 
  padding-left: 11px;
  padding-right: 3px; 
  border-left: 1px solid #06365f;
  border-left-color: rgba(0,0,0,.1);
  box-shadow: 0px 0 1px -1px  #5786aa;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(3,27,47,.5);
  color: white;
  line-height: 20px; 
  opacity: 0.95;
  letter-spacing: -0.5px;
}

#username-text{
  vertical-align: top; 
}

.avatar-image {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  margin-right: 8px; 
  margin-top: -2px; 
  text-shadow: 0 1px 0 rgba(3,27,47,.5);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.2);
}

.logo-image {
  margin-top: 10px;
  -webkit-filter: grayscale(100%) brightness(10) drop-shadow(1px 1px 1px rgba(4,40,71,.8));
  color: white;
  width: 90px;
  opacity: 0.95;
}

section#post-details {
  margin-top: 25px; 
  width: 200px;
  height: 40px ;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  line-height: 15px;
  font-family: 'proxima-nova-bolder';
  letter-spacing: 0px;
  font-size: 1.05em;
  text-align: right; 
  display: inline; 
  float: left;
}

#time-since-post {
  color: #777;
}

#username-post {
  color: #3f729b;
}

.avatar-post {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  float: right;
  margin-left: 13px; 
  margin-top: 9px; 
}

.photo {
  border-radius: 3px 3px 0px 0px;
  width: 510px;
  height: 510px;
}

#comment-box {
  width: 463px;
  height: 25px;
  margin: 0px;
  margin-bottom: -2px; 
  padding: 10px 9px 0px;
  border: 1px solid #ccc;
  border-color: #d8d8d8;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  font-size: 1em;
  resize: none;
}

.comment-username {
  color: #3f729b;
}

.comment-text {
  font-family: 'proxima-nova';
  opacity: 0.95;
}

.comment-text a {
  font-family: 'proxima-nova';
  opacity: 0.95;
  text-decoration: none; 
  color: black;
}

ul#comments {
  list-style: none;
  margin: 0px; 
  padding: 0px; 
}

section#post-group {
  width: 1036px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  clear: both;
}

section#post-group-no-post {
  width: 1036px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  clear: both;
  height: 100%; 
}

section#blank-filler {
  width: 200px;
  display: block; 
  float: left;
}

section#whole-post {
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 1px 16px rgba(0,0,0,.1);
}

section#main-element {
  margin-left: 30px;
  margin-right: 30px; 
  background: #e0e1e2 url("backgroundnoise.png");
  width: 510px;
  padding: 32px 32px 16px 32px;
  box-shadow: inset 1px 0 0 rgba(0,0,0,.05),inset -1px 0 0 rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  border-width: 0 1px;
  float: left;
  display: inline;
  margin-bottom: -9px; 
}

section#whole-post-no-post{
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 1px 16px rgba(0,0,0,.1);
}

section#main-element-no-post {
  margin-left: 30px;
  margin-right: 30px; 
  width: 510px;
  overflow: hidden;
  padding: 32px 32px 16px 32px;
  float: left;
  display: inline;
  margin-bottom: -9px; 
}

section#picture {
  background: #E0E1E9 url("backgroundnoise.png");
  width: 510px;
  height: 510px;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border-bottom: 1px solid #e6e6e6;
  border-radius: 3px; 
}

section#picture-stats {
  background: white;
  width: 484px;
  padding: 12px 12px 1px 14px;
  margin-bottom: -20px; 
  line-height: 20px; 
  box-shadow: 1px 1px 1px rgba(0,0,0,.04);
}

.like-button {
  background-image: url("like_sprite.png");
  background-position: -4px -4px;
  width: 24px;
  height: 21px;
  float: left;
  display: inline;
  cursor: pointer;
  z-index: 1000; 
}

.like-button:hover {
  background-position: -4px -54px;
}

.likes-count {
  font-family: 'proxima-nova-bolder';
  opacity: 0.7;
  text-decoration: none; 
  color: black;
  float: left;
  font-size: 2em; 
  margin-left: 14px;
}

.delete-option {
  float: right;
}

.delete-icon {
  width: 11px;
  height: 11px;
  opacity: 0.6;
  margin-right: 2px;
  margin-top: 0px; 
}

.delete-icon:hover {
  opacity: 1;
}

section#picture-comments {
  background: white;
  width: 484px;
  padding: 36px 12px 4px 14px;
  margin-bottom: 0px; 
  line-height: 20px; 
  box-shadow: 1px 1px 1px rgba(0,0,0,.04);
}

section#no-post {
  background: white;
  width: 484px;
  padding: 12px 12px 1px 14px;
  margin-bottom: 0px; 
  line-height: 20px; 
  box-shadow: 0px 1px 1px rgba(0,0,0,.04);
  border-radius: 2px; 
  border-right: 1px solid silver;
}

section#submit-comments {
  margin-top: 0px; 
  background: white;
  width: 484px;
  padding: 13px;
  border-radius: 0px 0px 5px 3px; 
}

a {
  color: #3f729b;
  font-family: 'proxima-nova-bold','Helvetica Neue',Arial,Helvetica,sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  font-weight: 700;
}

a:hover{
  color: #3f729b;
}

a:visited{
  color: #3f729b;
}